<div class="footer">
  <div class="social_icons">
    <div>
      <div class="link-block">
        <img src="/assets/img/github_ico.png" alt="myGitHub"/><span title="GitHub"><a href="https://github.com/weerly">My GitHub Account</a></span>
      </div>
      <div class="link-block">
        <img src="/assets/img/linkedin.svg" alt="myGitHub"/><span title="linkedIn"><a href="https://github.com/weerly">My Linkedin Account</a></span>
      </div>
      <div class="link-block">
       <img src="/assets/img/skype.png" alt="skype"/><span title="aivindel"> Skype: aivindel</span>
      </div>
    </div>
  </div>
</div>
