.menu-bar-panel {
  border-right: deepskyblue solid 1px;
  width: 300px;
  height: calc(100% - 0px);
  background: white;
}
.page-link {
  width: 100%;
  font-size: xx-large;
  padding-left: 15px
}

.page-link {
  text-decoration: none;
  color: black;
  text-shadow: deepskyblue 1.5px 1px;
  display: block;
  font-family: "CashCapital", monospace;
}

button.page-link {
  font-family: "CashCapital", monospace;
}

a.page-link:active {
  color: deepskyblue;
}

.page-link:hover {
  cursor: pointer;
  background: cornflowerblue;
  color: white;
}

