<div>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">age</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students;">
      <td>
        <a routerLink="/students/{{student.id}}">{{student.id}}</a>
      </td>
      <td>
        <a routerLink="/students/{{student.id}}">{{student.first_name}}</a>
      </td>
      <td><a routerLink="/students/{{student.id}}">{{student.last_name}}</a></td>
      <td><a routerLink="/students/{{student.id}}">{{student.age}}</a></td>
      <td><a class="btn btn-warning" routerLink="/students/{{student.id}}/edit">Edit</a></td>
    </tr>
    </tbody>
  </table>
</div>
